<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://irea-static-files-server.herokuapp.com/public/css/bulma.min.css">
    <link rel="stylesheet" href="https://irea-static-files-server.herokuapp.com/public/css/style.css">
    <title>404 - IRLAgent</title>
</head>
<body>
    <div class="my-container">
        <div class="my-center">
            <img src="https://irea-static-files-server.herokuapp.com/public/img/logo.png" alt="" class="my-error-logo-image">
            <img src="https://irea-static-files-server.herokuapp.com/public/img/404.svg" alt="svg image" class="my-error-image">
            <a href="https://storyset.com/internet" class="is-size-7">Internet illustrations by Storyset</a>
            <br>
            <p class="my-error-message">Ups!!! Page not found. Click button bellow to return home page.</p>
            <br>
            <a href="/" class="button is-success">Go Home</a>
        </div>
    </div>
</body>
</html>