<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Imaginary Real Estate</title>
</head>
<body>

<!--  NAV BAR  -->
<!-- TODO: change logo -->
{{> parts/navbar }}

<!--  /NAV BAR  -->

<!--  HELLO BANNER  -->
<section class="hero is-success is-fullheight-with-navbar" style="background-image: url(/public/img/pexelsIndexBackground.jpg); background-size: cover; background-position: center" >
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Imaginary Real Estate Agent
                </p>
                <p class="subtitle">
                    Find your place on earth.
                </p>
            </div>
        </div>
</section>
<!--  /HELLO BANNER  -->


<!--  CONTENT  -->

<div class="container mt-5 mb-5">
    <h3 class="subtitle is-1"><solid>About us</solid></h3>

    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt ex, illum laborum officiis optio quae, quidem rem tempora ullam veniam voluptas. Commodi culpa eligendi numquam quasi quos rerum veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi et explicabo laboriosam optio quam quisquam reprehenderit tempora! Delectus distinctio doloremque facere in itaque minima nostrum quod sit veniam voluptatibus!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum porro possimus repudiandae rerum. Dignissimos eius ipsum iusto odit officiis recusandae saepe sit soluta ullam veniam. In quisquam vitae voluptate voluptates.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at consequuntur eaque earum eius eligendi natus provident quae, quod sed suscipit totam velit! Accusantium beatae corporis nisi placeat tenetur voluptate!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius expedita optio reiciendis repudiandae tempora unde velit vero! Adipisci debitis eos facere id iste magnam officiis temporibus veritatis. Illo, quia, sapiente.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius expedita optio reiciendis repudiandae tempora unde velit vero! Adipisci debitis eos facere id iste magnam officiis temporibus veritatis. Illo, quia, sapiente.
                </p>
            </div>
        </div>
        <div class="media-right">
            <p class="image is-128x128">
                <img src="/public/img/laurKonsumenta.webp">
            </p>
        </div>
    </article>

</div>


<div class="container mt-5 mb-5">
    <h3 class="subtitle is-1"><solid>Favourite searches</solid></h3>
    <div class="my-city-gallery">

        <a href="/offers?searchPhrase=Lublin" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsLublin.jpg)">
            <h2 class="has-text-white title">Lublin</h2>
        </a>
        <a href="/offers?searchPhrase=Warszawa"  class="my-city-gallery-object" style="background-image: url(/public/img/pexelsWarszawa.jpg)">
            <h2 class="has-text-white title">Warszawa</h2>
        </a>
        <a href="/offers?searchPhrase=Kraków" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsKrakow.jpg)">
            <h2 class="has-text-white title">Kraków</h2>
        </a>
        <a href="/offers?searchPhrase=Gdańsk" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsGdansk.jpg)">
            <h2 class="has-text-white title">Gdańsk</h2>
        </a>
        <a href="/offers?searchPhrase=Wrocław" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsWroclaw.jpg)">
            <h2 class="has-text-white title">Wrocław</h2>
        </a>
        <a href="/offers?searchPhrase=Poznań" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsPoznan.jpg)">
            <h2 class="has-text-white title">Poznań</h2>
        </a>

    </div>
</div>
<!--  / CONTENT  -->

<!--  FOOTER  -->
{{> parts/footer}}
<!--  /FOTTER  -->

<script src="/public/js/navbarBurger.js"></script>

</body>
</html>