<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/css/bulma.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Imaginary Real Estate</title>
</head>
<body>

<!--  NAV BAR  -->
<!-- TODO: change logo -->
{{> parts/navbar }}

<!--  /NAV BAR  -->

<!--  HELLO BANNER  -->
<section class="hero is-success is-fullheight-with-navbar" style="background-image: url(/public/img/pexelsIndexBackground.jpg); background-size: cover; background-position: center" >
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Imaginary Real Estate Agent
                </p>
                <p class="subtitle">
                    Find your place on earth.
                </p>
            </div>
        </div>
</section>
<!--  /HELLO BANNER  -->


<!--  CONTENT  -->

<div class="container my-margin">
    <h3 class="subtitle is-1"><solid>About us</solid></h3>

    <div class="columns">
        <div class="column is-full-mobile is-two-thirds-tablet is-four-fifths-desktop">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium culpa dignissimos facilis incidunt laboriosam quisquam vitae. Culpa ea eum natus quis sed. At dolore eligendi esse magnam, nobis quo totam?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur deserunt, dignissimos distinctio dolorum ducimus ex facilis hic impedit ipsam maiores maxime molestias non nostrum sint voluptas voluptates! Autem, vero.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cumque dicta dolorum fugiat incidunt iste, laboriosam nam quaerat quisquam sed sequi tenetur ullam voluptatibus! Ab aliquid commodi dolore sapiente voluptatibus.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aperiam beatae cumque eius hic illo inventore, ipsam itaque laboriosam libero optio quae reprehenderit soluta suscipit. Commodi deserunt iusto possimus?

        </div>
        <div class="column">
            <figure class="image is-square">
                <img src="/public/img/laurKonsumenta.webp">
            </figure>
            <figure class="image is-square">
                <img src="/public/img/laurKonsumenta.webp">
            </figure>
        </div>
    </div>

</div>


<div class="container mt-5 mb-5">
    <h3 class="subtitle is-1"><solid>Favourite searches</solid></h3>
    <div class="my-city-gallery">

        <a href="/offers?searchPhrase=Lublin" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsLublin.jpg)">
            <h2 class="has-text-white title">Lublin</h2>
        </a>
        <a href="/offers?searchPhrase=Warszawa"  class="my-city-gallery-object" style="background-image: url(/public/img/pexelsWarszawa.jpg)">
            <h2 class="has-text-white title">Warszawa</h2>
        </a>
        <a href="/offers?searchPhrase=Kraków" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsKrakow.jpg)">
            <h2 class="has-text-white title">Kraków</h2>
        </a>
        <a href="/offers?searchPhrase=Gdańsk" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsGdansk.jpg)">
            <h2 class="has-text-white title">Gdańsk</h2>
        </a>
        <a href="/offers?searchPhrase=Wrocław" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsWroclaw.jpg)">
            <h2 class="has-text-white title">Wrocław</h2>
        </a>
        <a href="/offers?searchPhrase=Poznań" class="my-city-gallery-object" style="background-image: url(/public/img/pexelsPoznan.jpg)">
            <h2 class="has-text-white title">Poznań</h2>
        </a>

    </div>
</div>
<!--  / CONTENT  -->

<!--  FOOTER  -->
{{> parts/footer}}
<!--  /FOTTER  -->

<script src="/public/js/navbarBurger.js"></script>

</body>
</html>