<nav class="navbar" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/public/img/logo.png"
                 alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/index">
                HOME
            </a>

            <a class="navbar-item" href="/offers">
                OFFERS
            </a>

            <a class="navbar-item" href="/favourites">
                FAVOURITES
            </a>

            <a class="navbar-item" href="/list">
                LIST OFFER
            </a>

        </div>
        <div class="navbar-end"></div>
    </div>
</nav>